#!/bin/bash

export LSCOLORS=gxBxhxDxfxhxhxhxhxcxcx
alias ping='ping -c 5'
alias fastping='ping -c 100 -s.2'
alias ports='netstat -tulanp'

# Pipe anything into `clip` to forward it to Clipper
alias clip="nc localhost 8377"
alias sshc="ssh -R localhost:8377:localhost:8377"

alias vagrantssh="vagrant ssh -- -R localhost:8377:localhost:8377"

alias apt-get="sudo apt-get"

alias root='sudo -i'
alias su='sudo -i'

alias meminfo='free -m -l -t'
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
alias pscpu='ps auxf | sort -nr -k 3'
alias pscpu10='ps auxf | sort -nr -k 3 | head -10'

alias s3get='s3cmd get'
alias s3set='s3cmd set'


function randpass {
	passlength=6
	[ ! -z "$1" ] && passlength=$1
	printf "%s\n" `< /dev/urandom tr -dc A-Za-z0-9 | head -c$passlength`
}



function showlog  {
     less +G $(ls -ctr1 $1/* | tail -1)
 }


function switchknife {
    if [ ! -f ~/.chef/knife-$1.rb ]; then
        echo "No such environment $1"
    else
        ln -sf knife-$1.rb ~/.chef/knife.rb
    fi
}

st () {
	 add-zsh-hook  -D preexec _terminal-set-titles-with-command
	 add-zsh-hook  -D precmd  _terminal-set-titles-with-path
    set-window-title $1
    set-tab-title $1
}


function tab-color() {
    if [[ $# == 1 ]]
    then
        # convert hex to decimal
        hex=$1
        if [[ ${hex:0:1} == "#" ]]
        then
            # strip leading hash sign
            hex=${hex:1:6}
        fi
        if [[ ${#hex} == 3 ]]
        then
            # handle 3-letter hex codes
            hex="${hex:0:1}${hex:0:1}${hex:1:1}${hex:1:1}${hex:2:1}${hex:2:1}"
        fi
        r=$(printf "%d" 0x${hex:0:2})
        g=$(printf "%d" 0x${hex:2:2})
        b=$(printf "%d" 0x${hex:4:2})
    else
        r=$1
        g=$2
        b=$3
    fi
    echo -ne "\033]6;1;bg;red;brightness;$r\a"
    echo -ne "\033]6;1;bg;green;brightness;$g\a"
    echo -ne "\033]6;1;bg;blue;brightness;$b\a"
}
function tab-red() { tab-color 203 111 111; }
function tab-green() { tab-color 6cc276; }
function tab-yellow() { tab-color "#e8e9ac"; }
function tab-blue() { tab-color 6f8ccc; }
function tab-purple() { tab-color a789d4; }
function tab-orange() { tab-color fbbc79; }
function tab-white() { tab-color fff; }
function tab-gray() { tab-color c3c3c3c; }

function tab-sred() { tab-color 255 0 0; }
function tab-sgreen() { tab-color 0 255 0; }
function tab-syellow() { tab-color 255 255 0; }
function tab-sblue() { tab-color 0 0 255; }
function tab-spurple() { tab-color 255 0 255; }
function tab-sorange() { tab-color 255 128 0; }
